<!DOCTYPE html>
<html>
<head>
  <title>SimpleExampleRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'moat_icon.png' %>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrap">
	<div class="container">
	    <% [[notice, :success], [alert, :info], [flash[:error], :error]].each do |m, c| %>
	      <% if m.presence %>
	        <div class="alert alert-<%= c %>" style="margin-top: 1em;">
	          <a class="close" href="#" data-dismiss="alert">×</a>
	          <%= m %>
	        </div>
	      <% end %>
	    <% end %>

		<%= yield %>
	</div>
	<div id="footer">
      <div class="container">
        <p class="muted credit">Copyright &copy; 2013 <a href="http://www.yourinventit.com">Inventit Inc.</a></p>
        <p class="muted credit">Built with <a href="http://dev.yourinventit.com/references/moat-rest-api-document">MOAT REST 1.0.1</a>, <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap 2.2.2</a> and <a href="http://rubyonrails.org/">Rails 3.2.11</a>.</p>
        <p class="muted credit">Running with <a href="http://dev.yourinventit.com">Inventit IoT Developer Network Development Sandbox Server</a>.</p>
      </div>
    </div>
</div>

</body>
</html>
